body{
  background-image:url(project3.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}
h1.heading{
  padding-top: 10px;
  color:#fff;
  font-family:'Montserrat' ,sans-serif;

  font-weight:900;
  text-align: center;
}
#title{
  margin-top: 10px;
}
.intro{
  color:#fff;
}
.details{
  padding:0% 15%;
    color:#fff;
}
.content{
text-align: center;
  margin-top: 100px;
  padding: 0;
  width: 100%;
  height: 500px;
}
.testimonial-img{

    width: 10%;
    border-radius: 100%;
    margin: 20px;

}
